.well {
    background-color: #ccc;
}

.text {
    text-align: right;
    font-weight: bold;
}

.calculator {
    width: 292px;
    margin: 50px auto;
}

.screen {
    font-family: 'Orbitron', sans-serif;
    background-color: #232121;
    width: 100%;
    height: 80px;
}

#result {
    color: #adff2f;
    padding-top: 5px;
    font-size: 30px;
    text-align: right;
    margin-right: 5px;
}

#conso {
    color: #7fffd4;
    text-align: right;
    margin-right: 5px;
}

.button-wrapper {
    width: 120%;
    height: auto;
    margin-top: 10px;
}

button {
    border-radius: 5px 5px;
    border: none;
    cursor: pointer;
    width: 50px;
    height:40px;
    margin: 6px 14px 10px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

button.hidden {
    visibility: hidden;
}

button.zero {
    width: 117px;
}

button.equal {
    position: absolute;
    height: 98px;
    margin-top: -50px;
    margin-left: 5px;
}

button:active {
    box-shadow: 0 4px #ab3c3c;
}